@tailwind base;
@tailwind components;
@tailwind utilities;

.home-container {
  background-image: url("../src/assets/svg/NightSky.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.weather_container {
  background-image: url("../src/assets/svg/292f2130931453.56398e1825b15.jpg");
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blinking-button {
  animation: blink 2s infinite;
}

.blinking-button:hover {
  animation: none;
  opacity: 1;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 1s ease-out forwards;
}

.input-label {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  color: #888;
  background-color: transparent;
  z-index: 100;
}

.input-label-password {
  position: absolute;
  top: 30%;
  left: 12px;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  color: #888;
  background-color: transparent;
  z-index: 100;
}

.input-label.focused {
  top: 0;
  font-size: 12px;
  color: blue;
  background-color: white;
  padding: 0 4px;
}

.input-label-password.focused {
  top: 0;
  font-size: 12px;
  color: blue;
  background-color: white;
  padding: 0 4px;
}

.scrollbar-hide {
  scrollbar-width: thin;
}
